:global {
    #app {
        height: 100vh;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto 40px;
        @include mobile {
            grid-template-rows: 55px 0 auto 30px;
        }
        @include desktop {
            grid-template-rows: 70px 0 auto 30px;
        }
        grid-template-areas:
                "header header"
                "notifications notifications"
                "main main"
                "footer footer";
    }
}
