.page {
    @include page();
}
.mainInfo {
    @include desktop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.name {
    margin-right: $gap-md;
}
.avatarBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
}
$avatarSize: 65px;
$avatarSizeDesktop: 105px;
.avatar {
    margin-right: $gap-xs;
    width: $avatarSize;
    height: $avatarSize;
    @include desktop {
        margin-right: $gap-lg;
        width: $avatarSizeDesktop;
        height: $avatarSizeDesktop;
    }
}
.ratingBox {
    display: flex;
    align-items: center;
    @include mobile {
        margin-top: $gap-xs;
    }
    @include desktop {
        font-size: 20px;
    }
}

$hexSize: 35px;
.rating {
    height: $hexSize;
    width: $hexSize;
}

.hideOnMobile {
    @include mobile{
        display: none;
    }
}
.hideOnDesktop {
    @include desktop{
        display: none;
    }
}
.chartBox {
    @include desktop {
        display: flex;
        align-items: center;
    }
}
.chart {
    max-width: 380px;
    @include mobile {
        margin: $gap-md auto 0 auto;
    }
    @include desktop {
        margin-top: $gap-md;
    }
}
.chartInfo {
    @include mobile {
        margin-top: $gap-xs;
    }
    @include desktop {
        margin-left: $gap-md;
    }
}
math {
    font-weight: 800;
    color: $color-primary-1;
    font-size: 20px;
    white-space: nowrap;
    padding: 0 $gap-xs;
}
:export {
    ratingLineColor: $color-primary-1;
    ratingBackgroundColor: fade_out($color-primary-1, 0.9);
    ratingBorderWidth: 1;
    activityLineColor: $color-primary-2;
    activityBackgroundColor: fade_out($color-primary-2, 0.9);
    activityBorderWidth: 1;
}

// TODO !!! for slides add fill line
