.footer {
    padding: 0 $gap-sm;
    background-color: $color-shade-1;
    color: $color-shade-4;
    grid-area: footer;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
