$hexSize: 35px;
.page {
    @include page();
}
.companiesGather {
    @include desktop {
        height: 400px;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
}
.companiesLeftBox,
.companiesRightBox {
    @include desktop {
        min-width: 235px;
        flex: 1 0 auto;
    }
}
.companiesRightBox {
        .employMain,
        .companyBox,
        .employBox {
            flex-direction: row-reverse;
        }
        .employBox {
            padding-right: $gap-xs;
            padding-left: $hexSize;
        }
}
.companyBox,
.employBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    @include desktop {
        max-width: 335px;
    }
}
.companyBox {
    flex: 0 0 auto;
    cursor: pointer;
    padding: $gap-sm 0;
}
.employBox {
    padding-left: $gap-xs;
    padding-right: $hexSize;
    margin-bottom: $gap-xs;
}
.companyTitle {
    font-size: 18px;
    font-weight: 800;
}
.rating {
    height: $hexSize;
    width: $hexSize;
}
.employMain {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}
$avatarSize: 35px;
.avatar {
    margin-right: $gap-xs;
    width: $avatarSize;
    height: $avatarSize;
}
.ratingBoxCompany {
    svg {
        color: darken($color-primary-1, $color-enhance)
    }
}
.ratingValue {
    color: $color-top;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
$iconSize: 150px;
.gatherIconBox {
    margin: 0 $gap-md;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary-1;
    svg {
        width: $iconSize ;
        height: $iconSize ;
    }
}

// TODO styles ideas
// 1) on company hover show underline go from left to right after svg animation path around hex
// 2) on company select side line into hex and svg path around it (may be also calculate time according from employ and
//    show line from employ to company line
