$hexSize: 35px;
.page {
    @include page();
}
.companiesVs {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.companyBox,
.employBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    max-width: 335px;
}
.companyBox {
    flex: 0 0 auto;
    cursor: pointer;
    padding-top: $gap-md;
}
.employBox {
    padding-left: $gap-xs;
    padding-right: $hexSize;
    margin-top: $gap-xs;
}
.companyTitle {
    font-size: 18px;
    font-weight: 800;
}
.rating {
    height: $hexSize;
    width: $hexSize;
}
.employMain {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}
$avatarSize: 35px;
.avatar {
    margin-right: $gap-xs;
    width: $avatarSize;
    height: $avatarSize;
}
.ratingBoxCompany {
    svg {
        color: darken($color-primary-1, $color-enhance)
    }
}
.ratingValue {
    color: $color-top;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.employTitle {
    font-weight: 300;
}


// TODO styles ideas
// 1) on company hover show underline go from left to right after svg animation path around hex
// 2) on company select side line into hex and svg path around it (may be also calculate time according from employ and
//    show line from employ to company line
