@mixin mobile {
    @media (max-width: $screen-desktop - 1px) { @content; }
}
@mixin desktop {
    @media (min-width: $screen-desktop) { @content; }
}
@mixin page {
    padding: $gap-xs;
    @include desktop {
        max-width: 1024px;
        margin: 0 auto;
        padding: $gap-md;
    }
}
@mixin image-round() {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
// TODO change spinner so it looks more similar to GatherIcon
