a {
    color: $color-primary-1;
    text-decoration: underline;
    outline: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

h1 {
    margin: 20px 0 20px 0;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    @include desktop {
        font-size: 35px;
    }
}

h2 {
    margin: 10px 0 10px 0;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    @include desktop {
        font-size: 30px;
    }
}

h3 {
    font-weight: 800;
    font-size: 22px;
    margin: 10px 0;
    @include desktop {
        font-size: 24px;
    }
}
h4 {
    font-weight: 800;
    font-size: 18px;
    margin: 10px 0;
    @include desktop {
        font-size: 20px;
    }
}
input {
    color: $color-back;
    background-color: transparent;
    outline: none;
}

textarea {
    color: $color-back;
    background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
hr {
    border-color: $color-shade-4;
    width: 60%;
    margin: 10px auto;
}
